{% extends 'base.html.twig' %}

{% block title %}Facultad index{% endblock %}

{% block body %}
    <h1>Facultad index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facultad in facultads %}
            <tr>
                <td>{{ facultad.id }}</td>
                <td>{{ facultad.name }}</td>
                <td>
                    <a href="{{ path('facultad_show', {'id': facultad.id}) }}">show</a>
                    <a href="{{ path('facultad_edit', {'id': facultad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('facultad_new') }}">Create new</a>
{% endblock %}
