{% extends 'base.html.twig' %}



{% block title %}Subasta{% endblock %}
{% block head %} {% endblock %}

    {% block body %}

    <p><button onclick="sortTable()">Ordenar</button></p>

{% if is_granted("ROLE_ADMIN") %}
<div class="container-fluid" style="color:white;">
    <h1>Subasta</h1>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Objeto</th>
                <th>Valor</th>
                <th>FechaIngreso</th>
                <th>Estado</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for subastum in subastas|sort %}
        {% if subastum.estado == 'disponible'%}
        

            <tr>
                <td>{{ subastum.objetos.name }}</td>
                <td>{{ subastum.valor }}</td>
                <td>{{ subastum.fechaIngreso ? subastum.fechaIngreso|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ subastum.estado }}</td>
                <td>
                    <a href="{{ path('subasta_show', {'id': subastum.id}) }}">

                      <button type="button" class="btn btn-warning">Mostrar</button></a>

                    <a href="{{ path('subasta_edit', {'id': subastum.id}) }}">

                      <button type="button" class="btn btn-success">Editar</button></a>

                    <a href="{{ path('subasta_delete', {'id': subastum.id}) }}">

                      <button type="button" class="btn btn-danger">eliminar</button></a>
</td>

                

            </tr>
            

        {% else %}
            <tr>
                <td colspan="4">no se encontro objetos</td>
            </tr>

            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('subasta_new') }}">
        <button type="button" class="btn btn-primary"> Nuevo </button>
    </a>

</div>



{% endif %}




      <!-- cambiar a estado inactivo 
      <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    setTimeout(function() {
        $(".content").fadeOut(1500);
    },5000);
 
    setTimeout(function() {
        $(".content2").fadeIn(1500);
    },6000);
});
</script>
-->



<!-- inicio de encabezado -->

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="color:black;">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Bienvenido a la pagina de subastas</h1>
    <p class="lead font-weight-normal">Encuentra y oferta por el producto que mas te gusta</p>
    <a class="btn btn-outline-secondary" href="{{ path('subasta_new') }}">Ver Ofertas</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<!-- fin encabezado -->
    <div class="row">
{% for subastum in subastas %}
{% if subastum.estado == 'disponible'%}

        <div class="col-sm-3" >
          <div class="card" style="color: #0fb132">
            <div class="card-body">
              <h5 class="card-title" >Oferta</h5>
              <p class="card-text">encuentra lo que buscas a un buen precio</p>
              <h3>Objeto: {{ subastum.objetos.name}}
              <p> Precio: ${{ subastum.valor }}</p>
              <p>fecha de publicacion: {{ subastum.fechaIngreso ? subastum.fechaIngreso|date('Y-m-d H:i:s') : '' }}</p></h3>
            <td><img src="{{ asset('images/objetos/'~subastum.objetos.imageName) }}" alt="Symfony!"   height="150" /></td>

              </br>

            </br>



                  <a href="{{ path('oferta_new') }}" class="btn btn-primary"> Ofertar</a>
            </div>
          </div>
        </div>
        {% endif %}
          {% endfor %}
    </div>

          
      


<!-- Display the countdown timer in an element 
    <div class="content2" style="display:none;">subasta cerrada
        <div class="card" style="width: 18rem;">
                    
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">el objeto ya no esta disponible</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
        </div>

    </div>
-->


<div>

    <!-- Display the countdown timer in an element -->
<p id="demo"></p>


<script>
// Set the date we're counting down to
var countDownDate = new Date("NOV, 19, 2019 14:30:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text



  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";

  
  }
}, 1000);
</script>
</div>


<script>
function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[0];
      y = rows[i + 1].getElementsByTagName("TD")[0];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>

    {% endblock %}
